---
import Base from "../../../layouts/Base.astro";
---
<Base title="Submission of Applications">
  <h1>Vložitev vlog in odločitve komisije</h1>
  <p>Raziskovalci, ki želijo vložiti vlogo za etično presojo, morajo izpolniti standardni obrazec in ga predložiti sekretariatu komisije.</p>
  <p>Odločitve so objavljene v preglednici mnenj na <a href="../ethics" style="color:#0066cc;">Glavna stran etične komisije</a>.</p>
</Base>