---
import Base from "../../../layouts/Base.astro";
---
<Base title="Submission of Applications">
  <h1>Submission of Applications & Committee Decisions</h1>
  <p>Researchers wishing to submit an application for ethical review should complete the standard form and submit it to the committee secretariat.</p>
  <p>Decisions are published in the opinions table on the <a href="../ethics" style="color:#0066cc;">Ethics Committee main page</a>.</p>
</Base>